<footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <a href="https://linkedin.com/in/anirudh-pulavarthy" target="_blank">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/anirudh-pulavarthy" target="_blank">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="mailto:anirudhpulavarthy96@gmail.com">
          <i class="fas fa-envelope"></i> Email
        </a>

        <a href="https://www.worldcubeassociation.org/persons/2014PULA01" target="_blank">
          <i class="wca cubing-icon event-333"></i> WCA
        </a>
        <a href="Resume_Anirudh.pdf" download>
            <i class="fas fa-file-pdf"></i> Download Resume
        </a>
      </div>
  
      <div class="footer-right">
        <span>&copy; {{ year }} Anirudh Pulavarthy •</span>
        <span class="tech-note">
          Built with 
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" class="angular-icon" />
          Angular
        </span>
      </div>
    </div>
  </footer>
  