<header class="header">
    <div class="left">
       <a routerLink="/" class="logo-text">A P</a>
    </div>

    <!-- Display Hamburger icon (for mobiles and small view ports) -->
    <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle menu">
      <i class="fas" [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
    </button>

     <!-- Desktop nav -->
    <nav class="right desktop-nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/about" routerLinkActive="active">About Me</a>
      <button class="theme-toggle" (click)="toggleDarkMode()" title="Toggle Dark Mode">
        <i class="fas" [ngClass]="isDark ? 'fa-sun' : 'fa-moon'"></i>
      </button>
    </nav>

    <!-- Mobile nav menu -->
    <!-- Overlay (only when menu is open) -->
    <div *ngIf="isMenuOpen" class="mobile-nav-overlay" (click)="toggleMenu()"></div>

    <!-- Slide-in Nav -->
    <nav class="mobile-nav" [class.open]="isMenuOpen">
      <a routerLink="/" (click)="closeMenu()">Home</a>
      <a routerLink="/projects" (click)="closeMenu()">Projects</a>
      <a routerLink="/about" (click)="closeMenu()">About Me</a>
      <button class="theme-toggle" (click)="toggleDarkMode()" title="Toggle Dark Mode">
        <i class="fas" [ngClass]="isDark ? 'fa-sun' : 'fa-moon'"></i>
      </button>
    </nav>

  </header>
  