<section class="resume">

  <h3>Resume</h3>
  <p>Feel free to download my resume by using the button below. Last updated: March 18, 2025</p>

  <div class="download">
    <a 
      href="Resume_Anirudh.pdf" 
      download 
      target="_blank" 
      rel="noopener noreferrer">
      <button class="download-btn">Download Resume (PDF)</button>
    </a>
  </div>

  <br>

    <!-- <h3>My Resume (last updated March 18, 2025)</h3> -->
    <!-- <iframe src="Resume_Anirudh.pdf" width="100%" height="600px"></iframe> -->
    <!-- <a href="Resume_Anirudh.pdf" download>Download My Resume (PDF)</a> -->

    <iframe 
    src="Resume_Anirudh.pdf" 
    width="100%" 
    height="600px"
    title="Resume PDF Preview">
    </iframe>

  </section>
  